@charset "utf-8";
/* CSS Document */

body{
	background-image:url(gambar/1.jpg);
	font-family:"Bookman Old Style";
	color:#GGGGGG;
	padding-left:19em;
	padding-top: 1.5em;
}

ul.navbar{
	list-style-type:none;
	position:absolute;
	width:15em;
	left:1em;
	top:0em;
	padding:0.5;
	margin:0.0;

	
	<center>
<img src="gg.jpg" alt="book" width="453" height="340"><font color="#FFFFFF">
<img src="gg.jpg" width="453" height="340">
}

ul.navbar li{
	background:black;
	margin: 0.5em 0;
	padding:0.3em;
	border-left:0.7em solid red;
}

ul.navbar a{
	text-decoration:none;
	color:red;
}

ul.navbar a:hover{
	text-decoration:none;
	color:red;
}

a:link{
	text-decoration:none;
	color:#FF0000;	
}

a:hover{
	text-decoration:underline;
	color:#FF0000;
}


address{
	margin-top:1em;
	padding-top:1em;
	border-top:thin dotted;
}